<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>ROS Bag List</title>

    {% include "partials/bootstrap_header.html" %}

    <script src="https://unpkg.com/lunr@2.3.9/lunr.js"></script>

    <script>

        // TODO: When using browser navigation, filters are restored but list shows all bags

        /**
         * Clear and (re-)populate the table with the provided ROS bags
         * @param bags List of ROS bags
         */
        function build_table(bags) {
            const table = document.querySelector("#bag_table tbody");
            table.textContent = "";

            const tag_template = document.getElementById("tag_template");

            for (const bag of bags) {
                const bag_url = "{% url "rosbags:detail" "bag_name_placeholder" %}".replace(/bag_name_placeholder/, bag.name);

                let new_row = table.insertRow();
                let name_cell = new_row.insertCell();
                const bag_link = document.createElement("a");
                bag_link.setAttribute("href", bag_url);
                bag_link.appendChild(document.createTextNode(bag.name));
                name_cell.appendChild(bag_link);

                let description_cell = new_row.insertCell();
                description_cell.appendChild(document.createTextNode(bag.description));

                let date_cell = new_row.insertCell();
                date_cell.appendChild(document.createTextNode(bag.date));

                let duration_cell = new_row.insertCell();
                duration_cell.appendChild(document.createTextNode(bag.duration));

                let topics_cell = new_row.insertCell();
                for (const topic of bag.topics) {
                    const paragraph = document.createElement("p");
                    paragraph.appendChild(document.createTextNode(`${topic.name} (${topic.type})`))
                    topics_cell.appendChild(paragraph);
                }

                let tags_cell = new_row.insertCell();
                for (const tag of bag.tags) {
                    const clone = tag_template.content.cloneNode(true);
                    const span = clone.querySelector("span");
                    span.appendChild(document.createTextNode(tag));
                    tags_cell.appendChild(clone);
                }
            }
        }

        /**
         * Populate the #topic_filter and #tag_filter elements with the collected topic names and tags
         */
        function build_filters() {
            const template = document.getElementById("filter_checkbox_template");
            const topic_filter_container = document.querySelector("#topic_filter .card-body");
            for (const topic of known_topics) {
                const clone = template.content.cloneNode(true);
                const cb = clone.querySelector("input");
                cb.setAttribute("id", "topic_filter_" + topic);
                cb.setAttribute("data-topic", topic);
                const label = clone.querySelector("label");
                label.setAttribute("for", "topic_filter_" + topic);
                label.appendChild(document.createTextNode(topic));
                topic_filter_container.appendChild(clone);
            }

            const tag_filter_container = document.querySelector("#tag_filter .card-body");
            for (const tag of known_tags) {
                const clone = template.content.cloneNode(true);
                const input = clone.querySelector("input");
                input.setAttribute("id", "tag_filter_" + tag);
                input.setAttribute("data-tag", tag);
                const label = clone.querySelector("label");
                label.setAttribute("for", "tag_filter_" + tag);
                label.appendChild(document.createTextNode(tag));
                tag_filter_container.appendChild(clone);
            }
        }

        /**
         * Filter list of bags using manual filters.
         */
        function apply_filters(bags) {
            let required_topics = new Set();
            const topic_filters = document.querySelectorAll("#topic_filter input");
            for (const filter of topic_filters) {
                if (filter.checked) {
                    required_topics.add(filter.getAttribute("data-topic"));
                }
            }

            let required_tags = new Set();
            const tag_filters = document.querySelectorAll("#tag_filter input");
            for (const filter of tag_filters) {
                if (filter.checked) {
                    required_tags.add(filter.getAttribute("data-tag"));
                }
            }

            function contains_all_required_topics(bag) {
                let topics = new Set();
                for (const t of bag.topics) {
                    topics.add(t.name);
                }
                for (const t of required_topics) {
                    if (!topics.has(t)) {
                        return false;
                    }
                }
                return true;
            }

            function contains_all_required_tags(bag) {
                let tags = new Set();
                for (const t of bag.tags) {
                    tags.add(t);
                }
                for (const t of required_tags) {
                    if (!tags.has(t)) {
                        return false;
                    }
                }
                return true;
            }

            let filtered_bags = [];
            for (const bag of bags) {
                if (!contains_all_required_topics(bag)) {
                    continue;
                }

                if (!contains_all_required_tags(bag)) {
                    continue;
                }

                filtered_bags.push(bag);
            }

            return filtered_bags;
        }

        /**
         * Filter list of bags using search function
         */
        function apply_search(bags) {
            const search_input = document.getElementById("search_input");

            if (search_input.value === "") {
                return bags;
            }

            let search_results;
            try {
                search_results = idx.search(search_input.value);
            } catch (e) {
                console.error(e);
                return bags;
            }

            let matched_bag_names = new Set();
            for (const res of search_results) {
                matched_bag_names.add(res.ref);
            }

            let filtered_bags = [];
            for (const bag of bags) {
                if (matched_bag_names.has(bag.name)) {
                    filtered_bags.push(bag);
                }
            }

            return filtered_bags;
        }

        /**
         * Filter all bags and re-build table accordingly. Call whenever filter changes.
         */
        function refresh_table() {
            let bags = bags_data;
            bags = apply_search(bags);
            bags = apply_filters(bags);
            build_table(bags);
        }

        /**
         * Collect all known topic names from all bags
         * @param bags List of ROS bags
         * @returns {Set<String>}
         */
        function all_topics(bags) {
            let topics = new Set();
            for (const bag of bags) {
                for (const topic of bag.topics) {
                    topics.add(topic.name);
                }
            }
            return topics;
        }

        /**
         * Collect all known tags from all bags
         * @param bags List of ROS bags
         * @returns {Set<String>}
         */
        function all_tags(bags) {
            let tags = new Set();
            for (const bag of bags) {
                for (const tag of bag.tags) {
                    tags.add(tag);
                }
            }
            return tags;
        }

        function init() {
            build_filters();
            refresh_table();
        }
    </script>

    <template id="filter_checkbox_template">
        <input type="checkbox" onchange="refresh_table()">
        <label></label><br>
    </template>

    <template id="tag_template">
        <span class="badge text-bg-primary"></span>
    </template>
</head>
<body>

<main class="container">
    <h1>ROS Bag List</h1>

    <div class="row">
        <div class="col">
            <div id="topic_filter" class="card h-100" style="width: 24rem;">
                <div class="card-body">
                    <h6 class="card-title">Required topics:</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="tag_filter" class="card h-100" style="width: 24rem;">
                <div class="card-body">
                    <h6 class="card-title">Required tags:</h6>
                </div>
            </div>
        </div>
    </div>

    <br>

    <input type="text" class="form-control" id="search_input" placeholder="Search" oninput="refresh_table()">

    <table id="bag_table" class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Topics</th>
            <th>Tags</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</main>

{% include "partials/bootstrap_body.html" %}

<script>
    const bags_data = JSON.parse('{{ bags | escapejs }}');
    const known_topics = all_topics(bags_data);
    const known_tags = all_tags(bags_data);

    // Build search index, see https://lunrjs.com/guides/getting_started.html
    const idx = lunr(function () {
        this.ref('name');
        this.field('name');
        this.field('description');

        // Add underscores as separator, see https://github.com/olivernn/lunr.js/issues/286
        this.tokenizer.separator = /[\s\-_]+/
        lunr.QueryLexer.termSeparator = lunr.tokenizer.separator

        bags_data.forEach(function (bag) {
            this.add(bag);
        }, this)
    })

    init();
</script>
</body>
</html>
