<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>ROS Bag List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <script>
        function build_table(bags) {
            const table = document.querySelector("#bag_table tbody");
            table.textContent = "";

            const tag_template = document.getElementById("tag_template");

            for (const bag of bags) {
                const bag_url = "{% url "rosbags:detail" "bag_name_placeholder" %}".replace(/bag_name_placeholder/, bag.name);

                let new_row = table.insertRow();
                let name_cell = new_row.insertCell();
                const bag_link = document.createElement("a");
                bag_link.setAttribute("href", bag_url);
                bag_link.appendChild(document.createTextNode(bag.name));
                name_cell.appendChild(bag_link);

                let date_cell = new_row.insertCell();
                date_cell.appendChild(document.createTextNode(bag.date));

                let duration_cell = new_row.insertCell();
                duration_cell.appendChild(document.createTextNode(bag.duration));

                let topics_cell = new_row.insertCell();
                for (const topic of bag.topics) {
                    const paragraph = document.createElement("p");
                    paragraph.appendChild(document.createTextNode(`${topic.name} (${topic.type})`))
                    topics_cell.appendChild(paragraph);
                }

                let tags_cell = new_row.insertCell();
                for (const tag of bag.tags) {
                    const clone = tag_template.content.cloneNode(true);
                    const span = clone.querySelector("span");
                    span.appendChild(document.createTextNode(tag));
                    tags_cell.appendChild(clone);
                    console.log(clone);
                }
            }
        }

        function build_filters() {
            const template = document.getElementById("topic_filter_element");
            const topic_filter_container = document.getElementById("topic_filter");
            for (const topic of known_topics) {
                const clone = template.content.cloneNode(true);
                const cb = clone.querySelector("input");
                // TODO: Use a more sensible ID
                cb.setAttribute("id", topic);
                cb.setAttribute("data-topic", topic);
                const label = clone.querySelector("label");
                label.setAttribute("for", topic);
                label.appendChild(document.createTextNode(topic));
                topic_filter_container.appendChild(clone);
            }
        }

        function refresh_filters() {
            console.log("TODO: Implement filtering");

            let required_topics = new Set();
            const filters = document.querySelectorAll("#topic_filter input");
            for (const filter of filters) {
                if (filter.checked) {
                    required_topics.add(filter.getAttribute("data-topic"));
                }
            }

            let bags = [];
            for (const bag of bags_data) {
                let has_all = true;
                let topics = new Set();
                for (const t of bag.topics) {
                    topics.add(t.name);
                }
                for (const t of required_topics) {
                    if (!topics.has(t)) {
                        has_all = false;
                        break;
                    }
                }
                if (has_all) {
                    bags.push(bag);
                }
            }

            build_table(bags);
        }

        function all_topics(bags) {
            let topics = new Set();
            for (const bag of bags) {
                for (const topic of bag.topics) {
                    topics.add(topic.name);
                }
            }
            return topics;
        }

        function init() {
            build_table(bags_data);
            build_filters();
        }
    </script>

    <template id="topic_filter_element">
        <input type="checkbox" onchange="refresh_filters()">
        <label></label><br>
    </template>

    <template id="tag_template">
        <span class="badge text-bg-primary"></span>
    </template>
</head>
<body>
<h1>ROS Bag List</h1>

<div id="topic_filter">
    <p>Required topics:</p>
</div>

<br>

<table id="bag_table" class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Topics</th>
        <th>Tags</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

<script>
    const bags_data = JSON.parse('{{ bags | escapejs }}');
    const known_topics = all_topics(bags_data);

    init();
</script>
</body>
</html>
